<!DOCTYPE html>
<html>
    <head>
        <title>Skelotype - Login</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <!-- Bootstrap -->
	    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">

	    <link href="/static/css/styles.css" rel="stylesheet" media="screen">

	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="../../assets/js/html5shiv.js"></script>
	      <script src="../../assets/js/respond.min.js"></script>
	    <![endif]-->
    </head>
    <body>

    	<div class="container col-md-4 col-md-offset-4">
    		<form role="form" action="/" method="get" class="panel panel-warning">
    			<div class="panel-heading">Uh-oh!</div>
    			<div class="panel-body">
				  <p>Unfortunately, that wasn't right!</p>
				  <button type="submit" class="btn btn-warning">Try again</button>
				</div>
			</form>
    	</div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="//code.jquery.com/jquery.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>